<div class="comments">
  {{#each comments as |comment|}}
  <section class="comment">
    <div>
      {{comment.content}}
    </div>
    <div>
      <p>-Created By: {{user.username}} on {{format_date created}}</p>
    </div>
  </section>
  {{/each}}
</div>