<!-- html for homepage -->
<!-- loop over each post in the posts array -->
{{#each posts as |post| }}
<div class="row m-5 post justify-content-center">
    <h2 class=" heading">
        <a href="/post/2">Post Title</a>
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam beatae temporibus, officia autem et facere
        fugiat quisquam ipsa similique nam fuga non consectetur modi incidunt ipsam tenetur a, eligendi cumque!
    </p>
    <p> - Created by username</p>
</div>
{{/each}}