<!-- html for homepage -->
<!-- loop over each post in the posts array -->
{{#each posts as |post| }}
<div class="row m-5 post justify-content-center">
    <h2 class=" heading">
        <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>
        {{post.content}}
    </p>
    <p> - Created by {{post.user.username}}</p>
</div>
{{/each}}