<!-- html for login/signup page: goes with login.js-->
<div class="row vw-100">
    <div class="col-md-6 text-center">
        <h2 class="text-center">Login</h2>
        <form class="form login-form">
            <div class="form-group">
                <label for="username-login">username: </label>
                <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
                <label for="password-login">password: </label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group text-center">
                <button class="btn btn-dark" type="submit">login</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 text-center">
        <h2 class="text-center">Signup</h2>
        <form class="form signup-form">
            <div class="form-group">
                <label class="username-signup">username:</label>
                <input class="form-input" type="text" id="username-signup"/>
            </div>
            <div class="form-group">
                <label class="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup"/>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-dark" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js" ></script>