<!-- html for posts -->
<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>{{user.username}} on </p>
    <p><button class="btn btn-dark">Leave a comment</button></p>
</div>
